.wrapper{
    background-color: #141414;   
    color: #fff;
    padding-top: 5em;
}
.categories-btn{
    background-color: #0F0F0F;
    padding: 16px;
    border-radius: 12px;
}
.btn-forward{
    background-color: #1A1A1A;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    border: 0;

}
.btn-next{
    background-color: #1A1A1A;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    border: 0;
}
.categories-section
{
    margin-top: 80px;
}
.categoies-heading
{
    position: relative;
}

.categories-text-heading > h3
{
    font-size: 3.8rem;
}
