
.btn
{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.small{
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    &:hover{
        opacity: 0.9;
    }
    outline: none;
    border: 0;

}
.medium{
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 1.4rem;
    &:hover{
        opacity: 0.9;
    }
    outline: none;
    border: 0;
    
}
.large{
    padding: 18px 24px;
    border-radius: 8px;
    font-size: 1.4rem;
    &:hover{
        opacity: 0.9;
    }
    outline: none;
    border: 0;

}

@media screen and (max-width: 500px) {

    .large{
        padding: 10px 14px;
        border-radius: 8px;
        font-size: 1.0rem;
        &:hover{
            opacity: 0.9;
        }
        outline: none;
        border: 0;
    
    }
}
.primary{
    background-color: #E50000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: inline-flex;
}
.secondary {
    background-color: #141414;
} 
