@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .wrapper {
    background-color: #141414;
  }
  .heading {
    font-size: 2.8rem;
    color: #fff;
  }
  .movie-item {
    padding: 30px;
    background-color: #0f0f0f;
    margin: 15px;
    border-radius: 12px;
  }
  .paginate {
    margin-top: 40px;
    height: 20px;
    color: #fff;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 40% !important;
    list-style-type: none;
  }
  .page-link {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 12px;
  }
  .page-link:hover {
    background-color: #0f0f0f;
  }
  .activeLinkClassName {
    color: red;
    background-color: #0f0f0f;
  }
}

@media screen and (max-width: 1440px) and (min-width: 600px) {
  .wrapper {
    background-color: #141414;
  }
  .heading {
    font-size: 2.8rem;
    color: #fff;
  }
  .movie-item {
    padding: 20px;
    background-color: #0f0f0f;
    margin: 15px;
    border-radius: 12px;
  }
  .paginate {
    margin-top: 40px;
    height: 20px;
    color: #fff;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 40% !important;
    list-style-type: none;
  }
  .page-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 12px;
    display: flex;
  }
  .page-link:hover {
    background-color: #0f0f0f;
  }
  .activeLinkClassName {
    color: red;
    background-color: #0f0f0f;
  }
  .previousClassName {
    display: flex;
  }
  .nextClassName {
    display: flex;
  }
  .pagination
  {
    background-color: red;
  }
}
