.wrapper
{
    width: 100%;
    background-color: #141414;
    padding-top: 10em;
    position: relative;
}
.player-wrapper
{
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1920 / 1080) */
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
.overlay
{
    background-color: #141414;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
}

.content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 0;
    color: #fff;
    padding: 20px 0;
}
.heading{
    font-size: 2.3rem;
}
.title{
    font-size: 1.125rem;
    color: #ccc;
}
.btn_group{
    margin-top: 30px;
}
.hero_btn
{
    padding: 14px 24px;
    background-color: #E50000;
    display: inline-flex;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
}
.hero_btn:hover
{
    opacity: 0.9;
}
.hero_img
{
    width: 100%;

}
.hero_img > img {
    width: 100%;
    height: 610px;
    object-fit: cover;
}
.row
{
    gap: 30px;
}
.description
{
    background-color: #1A1A1A;
    border-radius: 12px;
    padding: 50px !important;
}
.description_heading{
    font-size: 1.8rem;
    color: #999999;
}
.description_title{
    font-size: 1.8rem;
    color: #fff;
}

.cast,
.review {
    background-color: #1A1A1A;
    border-radius: 12px;
    padding: 50px !important;
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.cast__heading,
.review__heading{
    font-size: 1.8rem;
    color: #999999;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cast__heading_name{
    font-size: 1.8rem;
}
.cast__heading_button{

}

.carousel__item
{
    border-radius: 12px;   
    margin: 0 5px;
    text-align: center;
}
.carousel__item > img {
    overflow: hidden;
    border-radius: 12px;
    height: 80px;
    width: 80px;
}
.reviews__button
{
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    border-radius: 8px;
    background-color: #141414;
    font-size: 1.8rem;
}
.reviews__button:hover
{
    opacity: 0.9;
}
.review__heading_name
{
    font-size: 1.8rem;
}
.list-details
{
    padding: 50px !important;
    border-radius: 12px;
    background-color: #1A1A1A;
    
}