.categories_btn{
    position: absolute;
    right: 16px;
    top: 0;
}
.categories_btn{
    background-color: #0F0F0F;
    padding: 16px;
    border-radius: 12px;
}

.btn-forward,
.btn-next
{
    background-color: #141414;
    outline: none;
    border: none;
}