@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .hero-img-container {
    gap: 14px;
  }
  .hero-img {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-color: #141414;
  }
  .hero-img img{
    width: 100%;
    height: 100vh;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #141414, #141414);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
  }
  .hero-sub-content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .content-heading {
    text-align: center;
    font-size: 4.8rem;
  }
  .content-sub {
    color: #b3b3b3;
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-btn {
    background-color: #e50000;
    display: inline-flex;
    padding: 18px 24px;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    align-self: center;
  }
  .hero-btn:hover {
    opacity: 0.9;
  }

  .hero-btn > p {
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-left: 4px;
  }
  .hero-text {
    color: #fff;
    margin: 0;
  }
}

@media screen and (max-width: 1440px) and (min-width: 600px) {
  .hero-img-container {
    position: relative;
  }
  .hero-img {
    position: relative;
    width: 100%;
    background-color: #141414;
  }
  .hero-img img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #141414, #141414);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
  }
  .hero-sub-content {
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .content-heading {
    text-align: center;
    font-size: 3rem;
  }
  .content-sub {
    color: #b3b3b3;
    font-size: 1.2rem;
    text-align: center;
  }
  .hero-btn {
    background-color: #e50000;
    display: inline-flex;
    padding: 18px 24px;
    border-radius: 8px;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
    align-self: center;
  }
  .hero-btn:hover {
    opacity: 0.9;
  }

  .hero-btn > p {
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-left: 4px;
  }
  .hero-text {
    color: #fff;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .hero-img-container {
    position: relative;
  }
  .hero-img {
    position: relative;
    object-fit: cover;
    background-color: #141414;
  }
  .hero-img img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #141414, #141414);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
  }
  .hero-sub-content {
    width: 80%;
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  .content-heading {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
  }
  .content-sub {
    color: #b3b3b3;
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-btn {
    background-color: #e50000;
    display: inline-flex;
    padding: 10px 14px;
    border-radius: 8px;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
    align-self: center;
  }
  .hero-btn:hover {
    opacity: 0.9;
  }

  .hero-btn > p {
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-left: 4px;
  }
  .hero-text {
    color: #fff;
    margin: 0;
  }
}
