@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .wrapper {
    padding: 16px;
    border-radius: 8px;
    background-color: #141414;
    display: inline-flex;
    flex-direction: column;
    border: #262626 1px solid;
    + .wrapper {
      margin-left: 20px;
    }
  }
  .rate {
    display: flex;
    align-items: end;
    font-size: 1.8rem;
    gap: 4px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 600px) {
  .wrapper {
    padding: 10px;
    border-radius: 8px;
    background-color: #141414;
    display: inline-flex;
    flex-direction: column;
    border: #262626 1px solid;
    + .wrapper {
      margin-left: 20px;
    }
    
  }
  .rate {
    display: flex;
    align-items: end;
    font-size: 1.8rem;
    gap: 4px;
  }
}
