.wrapper{
    background-color: #141414;   
    padding: 10em 0;
    color: #fff;
}
.categories-btn{
    background-color: #0F0F0F;
    padding: 16px;
    border-radius: 12px;
}
.btn-forward{
    background-color: #1A1A1A;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    border: 0;

}
.category-text-heading
{
    font-size: 2.8rem;
}
.category-text-title
{
    font-size: 1.6rem;
}
.btn-next{
    background-color: #1A1A1A;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    border: 0;
}
.categories-section
{
    margin-top: 80px;
}
.categoies-heading
{
    position: relative;
}

// @media screen (max-width: ) {
    
// }
