
.categori_img img {
    width: 100%;
    border-radius: 12px;
}
.carousel_item
{
    background-color: #1A1A1A;
    padding: 30px !important;
    cursor: pointer;
    &:hover
    {
        scale: 1.05;
        transition:0.5s;
    }
}

.categori_name
{
    font-size: 1.6rem;
}