.wrapper
{
    display: flex;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.user-detail
{
    margin-left: 10px;
}

.username
{
    font-size: 1.8rem;
    color: #fff;
}
.userlocate
{
    font-size: 1.6rem;
    color: #999999;
}
.user-image
{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}
.user-image img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}